.footer {
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  border-top: 3px solid rgba(0,0,0,0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__icon {
    color: rgba(0,0,0,0.2);
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .footer__text {
    color: rgba(0,0,0,0.2);
    font-weight: 800;
    text-transform: uppercase;
  }
}