.form-container {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 100%;
    max-width: 20rem;
    margin-bottom:3rem;
    input:not([type="file"]),
    textarea {
      display: block;
      padding: 0.5rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      &::placeholder {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    input[type="submit"] {
      background-color: $blue;
      color: white;
    }
  }
  a {
    width: 100%;
    max-width: 20rem;
  }
  .fileUpload {
    label {
      font-weight: 300;
      margin-right: 10px;
    }
  }
}