.header {
  background-color: $red;
  margin-bottom:3rem;
  width: 100%;
  .header__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    .header__column {
      display: flex;
      align-items: center;
      i {
        color: white;
        font-size: 3rem;
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        a:visited{
          color: white;
        }
        li:not(:last-child) {
          margin-right: 1rem;
        }
      }
      form {
        width: 100%;
        input {
          max-width: none;
        }
      }
    }
  }
  
}