extends layouts/main

block content
    .form-container
        form(action=route.user+routes.editProfile, method="post")
            label(for="avator") Avator
            input(type="file", id="avator", name="avator")
            input(type="text",name="name",placeholder="Full Name")
            input(type="email",name="email",placeholder="Email")
            input(type="submit", value="Update Profile")
        a.form-container__link(href=routes.user+routes.changePassword) Change Password